#основной датасет проекта
/content/drive/MyDrive/Colab Notebooks/data/PROJECT-1. Анализ вакансий из HeadHunter/dst-3.0_16_1_hh_database.csv

#курсы валют
/content/drive/MyDrive/Colab Notebooks/data/PROJECT-1. Анализ вакансий из HeadHunter/ExchangeRates.csv
